<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<th:block th:fragment="article_form">
		<label for="content">コメント</label><br/>
		<textarea th:field="*{content}" rows="10" cols="50"></textarea>
		<div th:errors="*{content}"></div><br/>
		<div th:text="*{id}"></div><br>
		
		<label for="targetArticleId">返信先コメント番号</label>
		<input type="number" name="targetArticleId"><br>
		<div th:if="${target_error != null}">
			<div th:text="${target_error}"></div>
		</div>
		
		<br/><br/>
		
	</th:block>

</body>
</html>