<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: login_header"></th:block>
		</div>
		<div id="content">
			
			<h2>コメント投稿</h2>
			<form th:action="@{/article_create}" method="post" novalidate th:object="${article}">
				<th:block th:insert="fragments/_form_article :: article_form"></th:block>
				<button>登録</button>
			</form>
			
		</div>
		<div id="footer">
			<th:block th:insert="fragments/base :: footer"></th:block>
		</div>
	</div>

</body>
</html>