<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: login_header"></th:block>
		</div>
		<div id="content">
			<h2>[[${channel.dorama.name}]]</h2>
			<div th:if="${articles.size() > 0}">
				<div th:each="article:${articles}" th:object="${article}">
					<div th:if="${article.MyReplys.size() != 0}">
						<div th:each="myReply:${article.MyReplys}" th:object="${myReply}">
							<div th:text="*{targetArticle.id}"></div>
						</div>					
					</div>
				
					<div th:text="*{id}"></div>
					<div th:text="*{siteuser.name}"></div>
					<div th:text="*{content}"></div>
		
					<div th:if="${article.replysForMe.size() > 0}">
						<a th:href="@{/reply_index{id}(id=*{id})}">[[${article.replysForMe.size()}]]</a>
					</div>
					<div th:if="${user.id == article.siteuser.id}">
						<a th:href="@{/article_delete{id}(id=*{id})}">コメントを削除する</a>
					</div>
					
					<hr>
				
				
				</div>
				<hr>
			</div>
			<a th:href="@{/article_new}">コメントを作成する</a>
		</div>
		<div id="footer">
			<th:block th:insert="fragments/base :: footer"></th:block>
		</div>
	</div>

</body>
</html>