<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: login_header"></th:block>
		</div>
		<div id="content">
			<div th:text="${dorama.season.year}+${dorama.season.seasonName.seasonName}"></div><br>
			<div th:text="${dorama.name}"></div>
			<div th:if="${channels.size() > 0}">
				<div th:each="channel:${channels}" th:object="${channel}">
					<div th:text="${channel.title}"></div>
				</div>
				<p><a th:href="@{/channel_create}">新しいチャンネルを作成する</a></p>
			
			
			
			</div>
		</div>
		<div id="footer">
			<th:block th:insert="fragments/base :: footer"></th:block>
		</div>
	</div>

</body>
</html>