<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: header"></th:block>
		</div>
		<div id="content">
			<div>
				<div th:if="${param.register}">
					<small>ユーザを新規登録しました</small>
				</div>
				<div th:if="${param.error}">
					<small>ユーザ名またはパスワードが正しくありません</small>
				</div>
				<div th:if="${param.logout}">
					<small>ログアウトしました</small>
				</div>
			</div>
			<form th:action="@{/login}" method="post">
				<input type="text" name="username" placeholder="ユーザ名">
				<br/><br/>
				
				<input type="password" name="password" placeholder="パスワード">
				<br/><br/>
				
				<button type="submit">ログイン</button>
				<br/><br/>
			</form>
			<p><a th:href="@{/user_register}">新規登録はこちら</a></p>
			
		</div>
		<div id="footer">
			<th:block th:insert="fragments/base :: footer"></th:block>
		</div>
	
	</div>

</body>
</html>