<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Twitterアプリ</title>
	<th:block th:insert="fragments/base :: head"></th:block>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<th:block th:insert="fragments/base :: header"></th:block>
		</div>
		<div id="content">
			<h2>ユーザ登録</h2>
			<form th:action="@{/user_register}" th:object="${user}" method="post" novalidate>
				<th:block th:insert="fragments/_form_user :: user_form">
				</th:block>
				<label th:for="admin">管理者として登録する</label><br><br>
				<button>登録</button>
			
			</form>
			<p><a th:href="@{/login}">ログインはこちらから</a></p>
		</div>
		<div id="footer">
			<th:block th:insert="fragments/base :: footer"></th:block>
		</div>
	
	</div>

</body>
</html>